<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atelier Pilori S06</title>
</head>
<body>
    <p>ok1</p>
    
</body>
</html>